*{
    margin: 0px;
}
img{
    width: 100vw;
}
button{
    width: 100px;
}

nav{
    display: flex;
    justify-content: center;
    background-color: grey;
}

/* #contentSection{
    background-color: "00308F";
    width: "50vw";
    z-index: "1";
    display: flex;
    justify-content: center;
} */
